{% extends "layout.html" %}

{% block title %}
    Graph Network
{% endblock %}


{% block main %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
    
        var data ='{{ fig_json }}';
        data = data.replaceAll('&#34;', '"');
        var graph = JSON.parse(data);
        Plotly.plot("chartDiv",graph, {});
    
    //drawGraph();
   
   });
</script>

<div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <div class="row">
        <div class="col-sm-8">
             <div class="chart" id="chartDiv"></div>
        </div>
    </div>
</div>
{% endblock %}