{% extends "layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block main %}

   <h4 style="text-align:left;color:#6f7173;"> &nbsp; Top 20 Users </h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">User</th>
          <th scope="col">Power</th>
        </tr>
      </thead>
      <tbody>
        {% for data in graphForViz %}
        <tr>
            <td>{{ data[0] }} </td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
